{
  "openapi": "3.0.0",
  "info": {
    "title": "Lancio Carriera",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis-sandbox.lanciocarriera.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "User"
    },
    {
      "name": "Company"
    },
    {
      "name": "File Uploads"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Chats"
    }
  ],
  "paths": {
    "/auth/account/email": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Signup via email & password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "first_name": "Ridwan",
                  "last_name": "Aduvoh",
                  "company_name": "fort nox",
                  "email": "d.buzzi@s-b.swiss",
                  "password": "password",
                  "accountType": "company"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/auth/account/verify": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Verify email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "accountType": "company",
                  "token": "14d6177dba088accffb309af9df41a88f2a37c66",
                  "code": "2557"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/auth/account/google": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Signup via google",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "idToken": "123456778890",
                  "email": "adagiri@cloudhacks.net",
                  "company_name": "neurona",
                  "accountType": "personal"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/auth/session/email": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login via email & password Copy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "accountType": "company",
                  "email": "ibrahimridwan477@gmail.com",
                  "password": "password"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/auth/session/google": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login via google",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "accountType": "company",
                  "idToken": "123456778899"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/auth/reset-password/send-code": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Reset password - Send code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "accountType": "company",
                  "email": "ibrahimridwan47@gmail.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/auth/reset-password/verify-code": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Reset password - Verify code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "accountType": "company",
                  "code": "6371",
                  "token": "70a4130d68fe1ce5afe0b286d0706492bb5ae21a"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/auth/reset-password/set-password": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Reset password - Set password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "accountType": "company",
                  "password": "password1",
                  "token": "70a4130d68fe1ce5afe0b286d0706492bb5ae21a"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/auth/delete": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Delete user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "accountType": "company",
                  "email": "ibrahimridwan47@gmail.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/logged-in-account": {
      "get": {
        "tags": ["User"],
        "summary": "Get logged-In user",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/64c787c87a116886bbe5bd9b": {
      "get": {
        "tags": ["User"],
        "summary": "Get a User",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/profile-views": {
      "get": {
        "tags": ["User"],
        "summary": "Get profile views for logged-in user",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0OTI2NmJiNTQ0MjM3YTVmMTgwMWYyYSIsImVtYWlsIjoiYWRhZ2lyaTE0MTdAZ21haWwuY29tIiwiaWF0IjoxNjg3MzE2MTYxLCJleHAiOjE2ODk5MDgxNjF9.VkZPGMo5I2I7lF6EWtdszczaiA-HeY-4265Kky5Z3zE"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "null"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          },
          {
            "name": "duration",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Accepted Values are: 'thisWeek', 'thisMonth', 'today'. Ommiting this field from the query results in all matches; that is: all profile views will be returned.",
            "example": "thisWeek"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/dashboard-data": {
      "get": {
        "tags": ["User"],
        "summary": "Get dashboard data",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          },
          {
            "name": "duration",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "values are 'this-week', 'this-month', 'today'",
            "example": "this-month"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/notifications": {
      "get": {
        "tags": ["User"],
        "summary": "Get Notifications",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "null"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          },
          {
            "name": "case",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values are -  'Message_Received', 'Application_Accepted', 'Job_Closed', 'User_Reported',",
            "example": "Message_Received"
          },
          {
            "name": "timeFrame",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values are - 'today', 'this-week', 'this-month'",
            "example": "this-month"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/profile-setup": {
      "put": {
        "tags": ["User"],
        "summary": "Profile setup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "sex": "male",
                  "age": 30,
                  "phone": "+2348037296906",
                  "country": "Germany",
                  "state": "Berlin",
                  "city": "Berlin",
                  "address": "Musterstraße 42, 10115 Berlin, Germany",
                  "photo": "https://lancio-carriera.s3.amazon.com/profile-photo/0299292828828828",
                  "bio": "THis is my bio",
                  "resume": [
                    "https://lancio-carriera.s3.amazon.com/resume/0299292828828828"
                  ],
                  "softSkills": ["speaking", "reading", "honesty"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0NzkwZGI1ZjE3NGU2YmY2MTlkMWI0NiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3QGdtYWlsLmNvbSIsImlhdCI6MTY4NTc0OTcwMywiZXhwIjoxNjg4MzQxNzAzfQ.YpCeTbE8GURevm2MMijRCdBOdGQ4IlRWsnsJVXUnQrU"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/update-profile": {
      "put": {
        "tags": ["User"],
        "summary": "Update Profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "sex": "male",
                  "age": 30,
                  "phone": "+2348037296906",
                  "country": "Germany",
                  "state": "Berlin",
                  "city": "Berlin",
                  "address": "Musterstraße 42, 10115 Berlin, Germany",
                  "photo": "https://filerq.s3.amazonaws.com/test/profile-photo/846988642878739224388841543531.jpeg",
                  "bio": "THis is my bio",
                  "resume": [
                    "https://lancio-carriera.s3.amazon.com/resume/0299292828828828"
                  ],
                  "softSkills": ["speaking", "reading", "writing"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/edit-notification-settings": {
      "put": {
        "tags": ["User"],
        "summary": "Edit notification settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "onMessageReceived": true,
                  "onApplicantAccepted": true,
                  "onJobClosed": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/mark-notification": {
      "put": {
        "tags": ["User"],
        "summary": "Mark a notification as READ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "notificationId": "64ca959be0f7fb6b9b0484ff"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/mark-all-notifications": {
      "put": {
        "tags": ["User"],
        "summary": "Mark all notifications as READ",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/report": {
      "post": {
        "tags": ["User"],
        "summary": "Report a User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "userId": "64c787c87a116886bbe5bd9b"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/send-email": {
      "post": {
        "tags": ["User"],
        "summary": "Email a User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "ibrahimridwan477@gmail.com",
                  "message": "Please respond to the offer on the app"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/logged-in-account": {
      "get": {
        "tags": ["Company"],
        "summary": "Get logged-In company",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/64c7883d7a116886bbe5bda8": {
      "get": {
        "tags": ["Company"],
        "summary": "Get a Company",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/dashboard-data": {
      "get": {
        "tags": ["Company"],
        "summary": "Get dashboard data",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTYzMzc1MDMsImV4cCI6MTY5ODkyOTUwM30.K_Ua-X9Gpw75xzXGqUzCHLB01WTdrCj9_ttO-gACNIk"
          },
          {
            "name": "duration",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "this-month"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/notifications": {
      "get": {
        "tags": ["Company"],
        "summary": "Get Notifications",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "null"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          },
          {
            "name": "case",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values are -  'Message_Received', 'Application_Accepted', 'Job_Closed', 'User_Reported',",
            "example": "Message_Received"
          },
          {
            "name": "timeFrame",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values are - 'today', 'this-week', 'this-month'",
            "example": "this-month"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/get-accepted-applicants": {
      "get": {
        "tags": ["Company"],
        "summary": "Get accepted applicants",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0YzhjODBhN2ExMTY4ODZiYmU1YmUxZSIsImVtYWlsIjoiYWxlanV2ZTA1QGljbG91ZC5jb20iLCJpYXQiOjE2OTcxMTAyNzAsImV4cCI6MTY5OTcwMjI3MH0.7k-PNarjF_rWax_EP0SJP_wjxU10MleJ6CAeDB6M99o"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/profile-setup": {
      "put": {
        "tags": ["Company"],
        "summary": "Profile setup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "companyType": "Technology",
                  "employeeCount": "0 - 50",
                  "phone": "+2348037296906",
                  "country": "Germany",
                  "state": "Berlin",
                  "city": "Berlin",
                  "address": "Musterstraße 42, 10115 Berlin, Germany",
                  "photo": "https://lancio-carriera.s3.amazon.com/profile-photo/0299292828828828",
                  "bio": "THis is our bio",
                  "businessDoc": [
                    "https://lancio-carriera.s3.amazon.com/business-doc/0299292828828828.jpeg",
                    "https://lancio-carriera.s3.amazon.com/business-doc/0299292828828820.jpeg"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0N2E3OTczY2Y2ODU5ZWEzZjNhZDQ4MiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2ODU3NTMwNTgsImV4cCI6MTY4ODM0NTA1OH0.qgoo0ioMZKqyNwCY9s5Aql6xv9FwHnpwp5liNKamNV0"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/update-profile": {
      "put": {
        "tags": ["Company"],
        "summary": "Update profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "companyType": "Technology",
                  "employeeCount": "0 - 50",
                  "phone": "+2348037296906",
                  "country": "Germany",
                  "state": "Berlin",
                  "city": "Berlin",
                  "address": "Musterstraße 42, 10115 Berlin, Germany",
                  "photo": "https://lancio-carriera.s3.amazon.com/profile-photo/0299292828828828",
                  "bio": "Your Bio",
                  "businessDoc": [
                    "https://lancio-carriera.s3.amazon.com/business-doc/0299292828828828.jpeg",
                    "https://lancio-carriera.s3.amazon.com/business-doc/0299292828828820.jpeg"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/edit-notification-settings": {
      "put": {
        "tags": ["Company"],
        "summary": "Edit notification settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "onMessageReceived": false,
                  "onApplicantApplied": true,
                  "onJobReported": false,
                  "onJobPosted": true
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/mark-notification": {
      "put": {
        "tags": ["Company"],
        "summary": "Mark a notification as READ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "notificationId": "64ca959ae0f7fb6b9b0484fc"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/mark-all-notifications": {
      "put": {
        "tags": ["Company"],
        "summary": "Mark all notifications as READ",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/companies/report": {
      "post": {
        "tags": ["Company"],
        "summary": "Report a Company",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "companyId": "64c7883d7a116886bbe5bda8"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/file-uploads/request-upload-url": {
      "get": {
        "tags": ["File Uploads"],
        "summary": "Get signed url for upload",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0OTI1YjlhY2MzZDNjN2NkZTM5YmIzNiIsImVtYWlsIjoiYWRhZ2lyaTE0MTdAZ21haWwuY29tIiwiaWF0IjoxNjg3MzU4MDk2LCJleHAiOjE2ODk5NTAwOTZ9.k7cUIobnVnPkrNOu3rtacV_YuCZJ78z_RhTSnmPrfr4"
          },
          {
            "name": "purpose",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values include: profile-photo, resume, business-doc, chat, job-post",
            "example": "chat"
          },
          {
            "name": "contentType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values include: image/jpeg, image/png, ...",
            "example": "video/webm"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/test/chat/255313999972341859291846357166.webm": {
      "put": {
        "tags": ["File Uploads"],
        "summary": "Upload file to signed url",
        "requestBody": {
          "content": {
            "text/plain": {}
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "video/webm"
          },
          {
            "name": "AWSAccessKeyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "AKIAYBSBUG4DNSW24A4X"
          },
          {
            "name": "Content-Type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "video%2Fwebm"
          },
          {
            "name": "Expires",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1688267278"
          },
          {
            "name": "Signature",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "dSlSNEBfBz%2BmgLFbXtI0orXmIzA%3D"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/64ca83d4c9784f45d0dca193": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get a Job",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get Job Listings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "null"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "64c7883d7a116886bbe5bda8"
          },
          {
            "name": "timeFrame",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values - 'today', 'this-week', 'this-month'",
            "example": "today"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values - 'part-time', 'full-time', 'internship'",
            "example": "internship"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search works for 'position' field",
            "example": "Mid-Level Project Manager"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values - any category",
            "example": "Engineering"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possibled values - any state",
            "example": "GreNert"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": ["Jobs"],
        "summary": "Post a Job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "position": "Mid-Level Project Manager",
                  "type": "Vertrag",
                  "category": "Engineering",
                  "images": [
                    "https://lancio-carriera.s3.amazon.com/business-doc/0299292828828828.jpeg",
                    "https://lancio-carriera.s3.amazon.com/business-doc/0299292828828820.jpeg"
                  ],
                  "location": "Greenert",
                  "about": "Some description here",
                  "salary": "1000 - 1500",
                  "requirements": [
                    "High school diploma",
                    "Farmiliarity with sales",
                    "Willingness to learn"
                  ],
                  "responsibilities": [
                    "Reach out to customers",
                    "Gather customer feedbacks"
                  ],
                  "isRemote": true,
                  "isHiringUrgently": true,
                  "allowMultipleCandidate": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": ["Jobs"],
        "summary": "Edit a Job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": "64ca83d4c9784f45d0dca193",
                  "position": "Senior Research Assistant",
                  "type": "Vertrag",
                  "category": "Engineering",
                  "images": [
                    "https://lancio-carriera.s3.amazon.com/business-doc/0299292828828828.jpeg",
                    "https://lancio-carriera.s3.amazon.com/business-doc/0299292828828820.jpeg"
                  ],
                  "about": "Some description here",
                  "salary": "1000 - 1500",
                  "requirements": [
                    "High school diploma",
                    "Farmiliarity with sales",
                    "Willingness to learn"
                  ],
                  "responsibilities": [
                    "Reach out to customers",
                    "Gather customer feedbacks"
                  ],
                  "isHiringUrgently": true,
                  "allowMultipleCandidate": false,
                  "isClosed": false,
                  "isRemote": true
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/by-a-company/64c7883d7a116886bbe5bda8": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get Job postings of a company",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/company/new-applicants": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get New Applicants List for a company",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "null"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/company/new-applicants-count": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get New Applicants Count",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0OTI1YjlhY2MzZDNjN2NkZTM5YmIzNiIsImVtYWlsIjoiYWRhZ2lyaTE0MTdAZ21haWwuY29tIiwiaWF0IjoxNjg4MDU4MzA4LCJleHAiOjE2OTA2NTAzMDh9.vVhAoGmv_VkkiPP9ttOuYRRBGcigKqJd0r90rpoKbuY"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/company": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get Job Postings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "null"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          },
          {
            "name": "isClosed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "timeFrame",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "possible values - today | this-week | this-month",
            "example": "this-month"
          },
          {
            "name": "minApplicantCount",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "maxApplicantCount",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/user": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get Jobs that a user applied to",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "null"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          },
          {
            "name": "duration",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Accepted Values are: 'this-week', 'this-month', 'today'. Ommiting this field from the query results in all matches where the logged-in user is an applicant; been returned.",
            "example": "this-month"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/apply": {
      "put": {
        "tags": ["Jobs"],
        "summary": "Apply to Job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": "64ca83d4c9784f45d0dca193"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/report": {
      "put": {
        "tags": ["Jobs"],
        "summary": "Report a Job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": "64c8ca967a116886bbe5be3d"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/accept-applicant": {
      "put": {
        "tags": ["Jobs"],
        "summary": "Accept an Applicant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": "64ca83d4c9784f45d0dca193",
                  "applicantId": "64c787c87a116886bbe5bd9b"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/close-job": {
      "put": {
        "tags": ["Jobs"],
        "summary": "Close a Job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": "64ca83d4c9784f45d0dca193"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/save": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Save a Job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": "64ca83d4c9784f45d0dca193"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/unsave": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Unsave a Job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "jobId": "64ca83d4c9784f45d0dca193"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4N2M4N2ExMTY4ODZiYmU1YmQ5YiIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDI3NDksImV4cCI6MTY5MzQ5NDc0OX0.aEcjONAs9xkOOxURwKm5sjkJcPLAUTF_XLfpL8QCRsw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chats": {
      "get": {
        "tags": ["Chats"],
        "summary": "Get Chats",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0Yzc4ODNkN2ExMTY4ODZiYmU1YmRhOCIsImVtYWlsIjoiaWJyYWhpbXJpZHdhbjQ3N0BnbWFpbC5jb20iLCJpYXQiOjE2OTA5MDM1NzgsImV4cCI6MTY5MzQ5NTU3OH0.WwI5LvdlezFC27CdUGl-cD8RPSwtCAXmvRBka7nN19I"
          },
          {
            "name": "hasBeenRead",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "possible values - true | false",
            "example": "true"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "beatrice"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chats/report": {
      "put": {
        "tags": ["Chats"],
        "summary": "Report Chat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "chatId": "64d428c0380bc4414c0af505"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0YWVkNjU3M2JkZDM4OGFkYTQwNjBmZiIsImVtYWlsIjoiYWxlanV2ZTA1QGljbG91ZC5jb20iLCJpYXQiOjE2OTc3NzI5NjgsImV4cCI6MTcwMDM2NDk2OH0.c9t5p0zm9ZDaQ4MmMwQl6l9nqC3kwsLJ_PQvlvo-stU"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chats/64930c6027de16d11a8a5690": {
      "get": {
        "tags": ["Chats"],
        "summary": "Get Chat",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0OTI1YjlhY2MzZDNjN2NkZTM5YmIzNiIsImVtYWlsIjoiYWRhZ2lyaTE0MTdAZ21haWwuY29tIiwiaWF0IjoxNjg3MzU4MDk2LCJleHAiOjE2ODk5NTAwOTZ9.k7cUIobnVnPkrNOu3rtacV_YuCZJ78z_RhTSnmPrfr4"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": ["Chats"],
        "summary": "Post a Chat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "companyId": "64925b9acc3d3c7cde39bb36",
                  "userId": "64930c6027de16d11a8a5690",
                  "message": {
                    "type": "file",
                    "text": "",
                    "file": {
                      "type": "image",
                      "src": "https://lancio-carriera.s3.amazon.com/profile-photo/0299292828828828",
                      "contentType": "image/jpeg",
                      "name": "high_school_records"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0OTI1YjlhY2MzZDNjN2NkZTM5YmIzNiIsImVtYWlsIjoiYWRhZ2lyaTE0MTdAZ21haWwuY29tIiwiaWF0IjoxNjg3MzU4MDk2LCJleHAiOjE2ODk5NTAwOTZ9.k7cUIobnVnPkrNOu3rtacV_YuCZJ78z_RhTSnmPrfr4"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chats/cu": {
      "get": {
        "tags": ["Chats"],
        "summary": "Get Chat by Comapany and User Id",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0OTI1YjlhY2MzZDNjN2NkZTM5YmIzNiIsImVtYWlsIjoiYWRhZ2lyaTE0MTdAZ21haWwuY29tIiwiaWF0IjoxNjg3MzU4MDk2LCJleHAiOjE2ODk5NTAwOTZ9.k7cUIobnVnPkrNOu3rtacV_YuCZJ78z_RhTSnmPrfr4"
          },
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "64925b9acc3d3c7cde39bb36"
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "649266bb544237a5f1801f2a"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
